@import "reset.css";


@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ArialBlack"; */
@font-face {
  font-family: "ArialBlack";
  src: url("../fonts/ArialBlack/ArialBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-family: "ArialBlack";
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

h1 {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

h2 {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}


.zero {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
